.modal-header {
    display: inline;
  }
  
  .modal-title {
    color: #3b71ca;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
  }
  