<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid mt-5">
        
            <div class="row d-flex justify-content-center">
                <div class="col-sm-3 col-md-2 col-xl-2 ">
                    <div class="card bg-c-blue order-card">
                        <div class="card-block w-100 ">
                            <h5 class="m-b-20">Total Customers</h5>
                            
                                <div class="text-right d-flex justify-content-between w-100 mt-5">
                                    <h2>
                                        <i class="fa-solid fa-user"></i>                                    </h2>
                                    
                                    <h2>{{totalCustomers}}</h2>
                                    

                                </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-xl-2 ">
                    <div class="card bg-c-green order-card">
                        <div class="card-block w-100 ">
                            <h5 class="m-b-20">Total Orders</h5>
                            
                                <div class="text-right d-flex justify-content-between w-100 mt-5">
                                    <h2>
                                        <i class="fa fa-cart-plus f-left"></i>
                                    </h2>
                                    
                                    <h2>{{totalOrders}}</h2>
                                    

                                </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-md-2 col-xl-2 ">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-block w-100 ">
                            <h5 class="m-b-20">Total Products</h5>
                            
                                <div class="text-right d-flex justify-content-between w-100 mt-5">
                                    <h2>
                                        <i class="fa-solid fa-tag"></i>                                    </h2>
                                    
                                    <h2>{{totalProducts}}</h2>
                                    

                                </div>

                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3 col-md-2 col-xl-2 ">
                    <div class="card bg-c-pink order-card">
                        <div class="card-block w-100 ">
                            <h5 class="m-b-20">Total Offers</h5>
                            
                                <div class="text-right d-flex justify-content-between w-100 mt-5">
                                    <h2>
                                        <i class="fa-solid fa-gift"></i>                    
                                    </h2>
                                    
                                    <h2>{{totalOffers}}</h2>
                                    

                                </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2 col-xl-2 ">
                    <div class="card bg-c-orange order-card">
                        <div class="card-block w-100 ">
                            <h5 class="m-b-20">Total profits</h5>
                            
                                <div class="text-right d-flex justify-content-between w-100 mt-5">
                                    <h2>
                                        <i class="fa-solid fa-credit-card"></i>                                    </h2>
                                    
                                    <h2>{{totalProfits}}</h2>
                                    

                                </div>

                        </div>
                    </div>
                </div>
                
               
                
               
            </div>

        <div class="row d-flex justify-content-center">
            
               <app-bar-chart class="col-md-5 mt-5" [datalabels]="topOffers" label="top 5 offers" canvaid="offerSupplier" ChartType="bar" ></app-bar-chart>
               <app-bar-chart class="col-md-5 mt-5" [datalabels]="topProduct" label="top 5 product" canvaid="productSupplier" ChartType="bar"></app-bar-chart>

               <app-bar-chart  class="col-md-5 mt-5" [datalabels]="orderStatus" label="Orders Status" canvaid="ordersStatusSupplier" ChartType="doughnut"></app-bar-chart>
               <app-bar-chart class="col-md-5 mt-5" [datalabels]="offersProductsOrdersCount" label="productsvsoffers" canvaid="productsVSoffersSupplier" ChartType="polarArea"></app-bar-chart>

            
           
        </div>
        <div class="container mt-5 mb-5">
            
            <table class="table  table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead class="table-warning">
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Number Of orders</th>
                    </tr>
                   
                </thead>
                <tbody>
                    <tr *ngFor="let customer of TopCustomerData ">
                        <td>{{customer.name}}</td>
                        <td>{{customer.phone}}</td>
                        <td>{{customer.ordersCount}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
    </div>
</body>
</html>