<div class="container">
    <div class="example-container mat-elevation-z8 p-2">
        <div>
            <h1 class="float-start">Owner Orders</h1>
        </div>

        <table class="table  table-bordered table-sm row-border hover py-3" datatable [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger">
            <thead class="table-dark text-white">
                <tr>
                    <th>order Number</th>
                    <th>Seller Name</th>
                    <th>Customer Name</th>
                    <th>Date</th>
                    <th>Profit Price</th>
                    <th>Confirm</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let order of ordertList let i = index ">
                    <td>{{i}}</td>
                    <td>{{order.traderName}}</td>
                    <td>{{order.requesterName}}</td>
                    <td>{{order.orderDate }}</td>
                    <td>{{order.adminTotal}}</td>
                    <td><button type="button" class="btn btn-success "
                            (click)="openDelivaryModal(order.id)">Delivered</button></td>

                </tr>
            </tbody>
        </table>
        <div class="modal " id="exampleModal" [ngStyle]="{'display':display}" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close " aria-label="Close"
                            (click)="onCloseDeliveraryHandled()"><span aria-hidden="true">&times;</span></button>
                        <h2 class="modal-title" style="font-size: initial; color: #e7880a;">Select Delivery</h2>
                    </div>
                    <div class="modal-body">

                        <app-admin-assign-delivery-order Type="ownerOrder"
                            [OrderId]="orderId"  (modelClose)="closeModel($event)"></app-admin-assign-delivery-order>

                    </div>
                </div>
            </div>
        </div>
    </div>