<div class="container-fluid mt-5">
    <div class="row mt-3">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" >
          <mat-tab label="pending order" >
            <app-supplier-requested-orders [SupplierId]="supplierId" ></app-supplier-requested-orders >
          
          </mat-tab>
          <mat-tab label="All" >
            <app-supplier-requested-orders-after-shipped [SupplierId]="supplierId"></app-supplier-requested-orders-after-shipped>
            
          </mat-tab>
        </mat-tab-group>
       
      </div>

</div>
  
  