<div class="container h-100">
  <div class="mb-3 mt-5 border-style">
    <div class="p-3 row">
      <form [formGroup]="CustomerInfoForm" (ngSubmit)="SubmitData()">
        <div class="container">

          <div class="row align-items-center py-3">

            <div class="col-md-3 ps-5">

              <h6 class="mb-0 fw-bold">Full Name</h6>

            </div>
            <div class="col-md-7 pe-5">
              <input [class.is-invalid]="name?.invalid &&name?.touched" formControlName="name" type="text"
                class="form-control fw-normal">
              <div *ngIf="name?.errors &&name?.touched">
                <small *ngIf="name?.errors?.['required']" class="text-danger">Name is required</small>
              </div>
            </div>
          </div>

          <hr class="mx-n3">

          <div class="row align-items-center py-3">
            <div class="col-md-3 ps-5">

              <h6 class="mb-0 fw-bold">Phone Number</h6>

            </div>
            <div class="col-md-7 pe-5">
              <input type="text" class="form-control fw-normal" formControlName="phoneNumber"
                [class.is-invalid]="phoneNumber?.touched &&phoneNumber?.invalid">

              <div *ngIf="phoneNumber?.errors &&phoneNumber?.touched">
                <small *ngIf="phoneNumber?.errors?.['required']" class="text-danger">Phone is required</small>
              </div>
            </div>

          </div>

          <hr class="mx-n3">

          <div class="row align-items-center py-3">

            <div class="col-md-3 ps-5">
              <h6 class="mb-0 fw-bold">Email address</h6>
            </div>

            <div class="col-md-7 pe-5">

              <input type="text" class="form-control fw-normal" formControlName="email"
                [class.is-invalid]="email?.touched &&email?.invalid">

              <div *ngIf="email?.errors &&email?.touched">
                <small *ngIf="email?.errors?.['required'] && (email?.dirty || email?.touched)" class="text-danger">Email
                  is required</small>
              </div>
            </div>

          </div>

          <hr class="mx-n3">

          <div class="row mt-3">
            <div class="col-md-2">
              <button type="submit" class="btn btn-success w-100 me-2"
                [disabled]="!CustomerInfoForm.valid">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="alert alert-success mb-5" [hidden]="!isUpdated">
    <strong>Success!</strong> Updated Successfully.
  </div>
</div>
