:host /deep/ .ngx-pagination {
  padding-left: 0px;
}

:host /deep/.ngx-pagination .current,
.btn-info {
  background: #ed9d4a !important;
  border: transparent;
  border-radius: 20px;
}

:host /deep/.ngx-pagination :hover {
  background: #ffc107 !important;
  border-radius: 20px;
  border: transparent;
  cursor: pointer;
}
.modal-header {
  display: inline;
}

.modal-title {
  color: #3b71ca;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  border: 1px solid #888;
}

/* The Close Button */
.close {

  float: right;
  font-size: 28px;
  background-color: transparent;
  border: none;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}
