<div class="body mb-3">



  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1300" >
        <div class="bg-image">
          <img src="../../../assets/images/restaurantBanner.webp" class="d-block w-100" alt="...">

        </div>
        <div class="carousel-caption d-none d-md-block mask text-light d-flex justify-content-center flex-column text-center">
          <h1 class="  text-white">OfferStation</h1>
          <h4>Discover our exclusive online offers and elevate your shopping experience today!</h4>
        </div>
      </div>
      <div class="carousel-item " data-bs-interval="1300" *ngFor="let catergory of categoryList ">
        <img src="../../../assets/images/restaurantBanner.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block d-flex align-items-center text-white">
          <h1 class="">{{catergory.name}}</h1>
          <h4>Discover our exclusive online offers and elevate your shopping experience today! </h4>
          <a class="btn btn-warning" href="/owners/{{catergory.name}}">Discover More {{catergory.name}}</a>
        </div>
      </div>
     
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container-xxl py-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <!-- <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user-tie text-warning mb-4"></i>
                        <h5>Master Chefs</h5>
                        <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-utensils text-warning mb-4"></i>
                        <h5>Best Offers</h5>
                        <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cart-plus text-warning mb-4"></i>
                        <h5>Online Order</h5>
                        <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-headset text-warning mb-4"></i>
                        <h5>24/7 Service</h5>
                        <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <app-landing-taps class="m-2" ></app-landing-taps>
</div>
  
  